{% extends "nlp/base.html" %}

{% block title %}文章の一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">文章一覧</h4>
    <form action="std01.kic.ac.jp:8000/nlp/article/search/" method="post">
        <input name="query" type="textbox">
        <button type="submit">検索する</button>
    </form>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">年度</th>
          <th scope="col">区分</th>
          <th scope="col">都市名</th>
          <th scope="col">文章</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
          <th scope="row">{{ article.article_id }}</th>
          <td>{{ article.article_year }}</td>
          <td>{{ article.article_category }}</td>
          <td>{{ article.article_city }}</td>
          <td>{{ article.article_text }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}